@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

a :visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  max-width: 528px;
  width: 100%;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-label,
.modal-input {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
}

.modal-label-wrapper {
  position: relative;
  max-width: 448px;
  margin-bottom: 10px;
}

.modal-input {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal-input:focus,
.modal-input:not(:placeholder-shown) {
  border-color: #2196f3;
  border-radius: 4px;
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-input:focus + .modal-icon,
.modal-input:not(:placeholder-shown) + .modal-icon {
  fill: #2196f3;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  border-color: #2196f3;
}

.modal-close-button-svg {
  width: 100%;
  height: 100%;
  padding: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-svg {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-message {
  max-width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
}

.modal-message:focus {
  border-color: #2196f3;
}

.modal-message:focus::placeholder {
  color: #2196f3;
}

.modal-message-span {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-option {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border: 1px solid #212121;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  flex-shrink: 0;
}

.modal-form-checkbox:checked + .custom-checkbox {
  fill: #2196f3;
  border: none;
}

.policy-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
}

.modal-button-submit {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover {
  background-color: #f5f4fa;
  color: #2196f3;
}

.modal-button-submit:focus {
  background-color: #f5f4fa;
  color: #2196f3;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-blue {
  color: #2196f3;
}

.nav-list-item:hover,
.nav-list-item :focus {
  color: #2196f3;
}

.nav-list-item-link {
  position: relative;
  display: inline-flex;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover, .nav-list-item-link:focus {
  color: #2196f3;
}

.nav-list-item-link.current {
  color: #2196f3;
}

.nav-list-item-link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list-item-icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.16;
  font-size: 18px;
  color: #757575;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item-link:hover, .contacts-list-item-link:focus {
  color: #2196f3;
}

.contacts-list-item-link:hover .contacts-list-item-icon, .contacts-list-item-link:focus .contacts-list-item-icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-menu-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
  }
  .header-menu-button:hover .logo-x,
  .header-menu-button:hover .logo-burger,
  .header-menu-button :focus .logo-x,
  .header-menu-button :focus .logo-burger {
    fill: #2196f3;
  }
  .header-menu-button.is-open .logo-x {
    opacity: 1;
  }
  .header-menu-button.is-open .logo-burger {
    opacity: 0;
  }
  .logo-x {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-burger {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-nav-list {
    position: absolute;
    top: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-150%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-nav-list.is-open {
    transform: translateY(0);
    background-color: #ffffff;
  }
  .navigation {
    margin-bottom: 60px;
    max-width: 100%;
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .contacts-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
  .logo-white {
    margin-right: 88px;
  }
  .container-nav-list {
    display: flex;
  }
  .nav-list {
    display: flex;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-item-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation {
    margin-right: 84px;
  }
  .contacts-list {
    padding-top: 21px;
    padding-bottom: 12px;
  }
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-list-item-link {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .nav-list {
    height: auto;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .logo-white {
    margin-right: 93px;
  }
  .navigation {
    margin-right: 305px;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../images/hero-mobile.jpg");
  background-size: cover;
}

.hero-content {
  max-width: 100%;
  height: 100%;
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: #f5f4fa;
  color: #2196f3;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    height: auto;
  }
  .main-header {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 118px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../images/hero-tablet.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../images/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../images/hero-desktop.jpg");
    background-size: cover;
  }
  .hero-content {
    padding-top: 200px;
    padding-bottom: 280px;
  }
  .main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../images/hero-desktop@2x.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .main-header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 118px;
  }
  .hero-content {
    padding-bottom: 118px;
  }
}

.capabillity-img-wrapper {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.capabillity-header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 10px;
}

.capabillity-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.capabillity-svg {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 480px) {
  .cappability-list {
    max-width: 100%;
  }
  .cappability-list-item {
    max-width: 450px;
  }
  .cappability-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .capabillity-header {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .cappability-list {
    display: flex;
    flex-wrap: wrap;
  }
  .cappability-list-item {
    width: calc((100% - 30px) / 2);
  }
}

.second-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}

.what-we-do-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.what-we-do-wrapper {
  top: 0;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list-item {
  position: relative;
  width: 370px;
  height: auto;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.section-dark {
  background-color: #f5f4fa;
}

.our-team-list {
  display: flex;
  justify-content: center;
}

.our-team-list-item {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  width: 270px;
  height: auto;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-img {
  margin-bottom: 30px;
}

.our-team-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.our-team-text {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-media-link-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-media-link-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link-list-item:hover, .social-media-link-list-item:focus {
  background-color: #2196f3;
}

.social-media-link-list-item:hover .social-media-link-item-svg, .social-media-link-list-item:focus .social-media-link-item-svg {
  fill: #ffffff;
}

.social-media-link-item-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
  justify-content: space-around;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover, .clients-list-item:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients-list-item:hover .clients-list-item-svg, .clients-list-item:focus .clients-list-item-svg {
  fill: #2196f3;
}

.clients-list-item-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer-social-link-container {
  width: 206px;
  text-align: start;
  margin-right: 93px;
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.adress-text {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.adress-container {
  margin-right: 69px;
  width: 231px;
}

.contacts-list-footer-item-link {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-footer-item-link:hover, .contacts-list-footer-item-link:focus {
  color: #2196f3;
}

.social-media-link-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-media-link-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link-list-item:hover, .social-media-link-list-item:focus {
  background-color: #2196f3;
}

.social-media-link-list-item:hover .social-media-link-item-svg, .social-media-link-list-item:focus .social-media-link-item-svg {
  fill: #ffffff;
}

.social-media-link-item-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-links-footer-list li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-links-footer-item .social-media-link-item-svg {
  fill: #ffffff;
}

.social-links-footer-item:hover, .social-links-footer-item:focus {
  color: #2196f3;
}

/*ФОРМА*/
.submit-form {
  display: flex;
  max-width: 100%;
}

.submit-form-container {
  max-width: 570px;
}

.submit-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-submit-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  outline: none;
  color: #ffffff;
}

.footer-submit-input:not(:placeholder-shown) {
  background-color: transparent;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.footer-submit-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:hover, .footer-submit-btn:focus {
  background-color: #f5f4fa;
  color: #2196f3;
}

.footer-submit-btn:hover .footer-submit-btn-icon, .footer-submit-btn:focus .footer-submit-btn-icon {
  fill: #2196f3;
}

.footer-submit-btn-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */