@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

a :visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-blue {
  color: #2196f3;
}

.nav-list-item:hover,
.nav-list-item :focus {
  color: #2196f3;
}

.nav-list-item-link {
  position: relative;
  display: inline-flex;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover, .nav-list-item-link:focus {
  color: #2196f3;
}

.nav-list-item-link.current {
  color: #2196f3;
}

.nav-list-item-link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list-item-icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.16;
  font-size: 18px;
  color: #757575;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item-link:hover, .contacts-list-item-link:focus {
  color: #2196f3;
}

.contacts-list-item-link:hover .contacts-list-item-icon, .contacts-list-item-link:focus .contacts-list-item-icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-menu-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
  }
  .header-menu-button:hover .logo-x,
  .header-menu-button:hover .logo-burger,
  .header-menu-button :focus .logo-x,
  .header-menu-button :focus .logo-burger {
    fill: #2196f3;
  }
  .header-menu-button.is-open .logo-x {
    opacity: 1;
  }
  .header-menu-button.is-open .logo-burger {
    opacity: 0;
  }
  .logo-x {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-burger {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-nav-list {
    position: absolute;
    top: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
    transform: translateY(-150%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-nav-list.is-open {
    transform: translateY(0);
  }
  .navigation {
    margin-bottom: 60px;
    max-width: 100%;
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .contacts-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
  .logo-white {
    margin-right: 88px;
  }
  .container-nav-list {
    display: flex;
  }
  .nav-list {
    display: flex;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-item-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation {
    margin-right: 84px;
  }
  .contacts-list {
    padding-top: 21px;
    padding-bottom: 12px;
  }
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-list-item-link {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .nav-list {
    height: auto;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .logo-white {
    margin-right: 93px;
  }
  .navigation {
    margin-right: 305px;
  }
}

.portfolio-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list-item:hover a, .portfolio-list-item:focus a {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item:hover .portfolio-item-description, .portfolio-list-item:focus .portfolio-item-description {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.card-content {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.portfolio-item-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-item-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer-social-link-container {
  width: 206px;
  text-align: start;
  margin-right: 93px;
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.adress-text {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.adress-container {
  margin-right: 69px;
  width: 231px;
}

.contacts-list-footer-item-link {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-footer-item-link:hover, .contacts-list-footer-item-link:focus {
  color: #2196f3;
}

.social-media-link-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-media-link-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link-list-item:hover, .social-media-link-list-item:focus {
  background-color: #2196f3;
}

.social-media-link-list-item:hover .social-media-link-item-svg, .social-media-link-list-item:focus .social-media-link-item-svg {
  fill: #ffffff;
}

.social-media-link-item-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-links-footer-list li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-links-footer-item .social-media-link-item-svg {
  fill: #ffffff;
}

.social-links-footer-item:hover, .social-links-footer-item:focus {
  color: #2196f3;
}

/*ФОРМА*/
.submit-form {
  display: flex;
  max-width: 100%;
}

.submit-form-container {
  max-width: 570px;
}

.submit-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-submit-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  outline: none;
  color: #ffffff;
}

.footer-submit-input:not(:placeholder-shown) {
  background-color: transparent;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.footer-submit-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:hover, .footer-submit-btn:focus {
  background-color: #f5f4fa;
  color: #2196f3;
}

.footer-submit-btn:hover .footer-submit-btn-icon, .footer-submit-btn:focus .footer-submit-btn-icon {
  fill: #2196f3;
}

.footer-submit-btn-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */