.section-dark {
  background-color: #f5f4fa;
}
.our-team-list {
  display: flex;
  justify-content: center;
  &-item {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    width: 270px;
    height: auto;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-img {
    margin-bottom: 30px;
  }
}

.our-team-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-top: 0px;

  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.our-team-text {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $second-text-color;
  margin-top: 0;
  margin-bottom: 16px;
}

@import "../components/social-media-list";
